* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #1f0036, #37004f);
    color: #fff;
    line-height: 1.6;
    padding: 0 1rem;
  }
  
  header {
    background: #2a0040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-size: 2rem;
    color: #ff00cc;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffcc00;
  }
  
  main {
    padding: 2rem 0;
  }
  
  .intro {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .intro h2 {
    font-size: 2.5rem;
    color: #ffcc00;
  }
  
  .btn {
    background: #ff00cc;
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #e600ac;
  }
  
  .skills ul {
    list-style: disc;
    margin: 1rem 0 0 2rem;
  }
  
  .projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .card h3 {
    margin-top: 0.5rem;
    color: #ffcc00;
  }
  
  footer {
    background: #2a0040;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  .avatar-section {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px;
  }
  
  .avatar-gradient {
    background: linear-gradient(to bottom, #7c5ee7, hsl(256, 68%, 47%));
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 300px;
    overflow: hidden;
  }
  
  .avatar-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    mix-blend-mode: multiply;
  }
  
  
  /* Адаптив до 500px */
  @media (max-width: 500px) {
    header, nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    
    
  }
  